<h1>Log in</h1>

<%= form_with(scope: :session, url:login_path, data: { turbo: false }, local: true )  do |f| %> 

    <p>
      <%= f.label :email %> <br/>
      <%= f.email_field :email %>
    </p>

    <p>
      <%= f.label :password %> <br/>
      <%= f.password_field :password %>
    </p>

    <p>
      <%= f.submit "Log in" %>
    </p>

<% end %>