<h1> Show Articles</h1>

<p><strong>Title:  </strong> <%= @article.title %></p>
<p><strong>Description:  </strong><%= @article.description %></p>
<p><strong>Topic:  </strong><%= @article.topic %></p>

<p><strong>Total Views:  </strong><%= @article.views %> |
<strong>Likes:  </strong><%= @article.total_likes %></p>



  <%= link_to 'Edit', edit_article_path(@article)%> |
  <%= link_to 'Delete', article_path(@article), data: { turbo_method: :delete, "turbo-confirm": "Are you sure?" } %> |
  <%= link_to 'Return to articles listing', articles_path %>

