<h1>Welcome to Homepage</h1>

<%= link_to 'Articles listing', articles_path %> |
<%= link_to 'About Page', about_path %>
<p>
<%= link_to 'Sign Up', signup_path %> |  <%= link_to 'Log in', login_path %>
</p>

<p>
<%= link_to 'Authors', users_path %>
</p>